<div>
  <div>
    <p>
      <span class="lead"><%= link_to bookmark.title, bookmark.url, target: "_blank" %></span>
      <% unless current_page?(controller: 'domains', action: 'show') %>
        <%= link_to bookmark.domain.name, bookmark.domain %>
      <% end %>
    </p>
  </div>
  <div>
    <div>
      <ul>
        <% bookmark.tags.each do |tag| %>
          <li>
            <%= link_to tag.name,  "#" %>
          </li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= form_for(bookmark) do |f| %>
        <div class="col-xs-3 col-sm-3">
          <div class="input-group">
            <%= f.text_field :short_url, class: "form-control input-sm" %>
            <span class="input-group-btn">
              <%= link_to 'copy me!', '#copyLink', class: "btn btn-primary btn-sm copy" %>
            </span>
          </div>
        </div>
        <%= link_to 'edit', edit_bookmark_path(bookmark), class: "btn btn-primary btn-sm" %>
        <%= link_to 'delete', bookmark, class: "btn btn-primary btn-sm", 
        method: :delete, 
        data: { confirm: 'Are you sure?' } %>
      <% end %>    
    </div>
  </div>
</div>
